.count_table div img {
    user-select: none;
    pointer-events: none;
}
.player_box img {
    user-select: none;
    pointer-events: none;
}
.footer_navigation div img {
    user-select: none;
    pointer-events: none; 
}