.counter {
    font-size: 2rem;
    font-weight: bold;
    color: #4caf50; /* Цвет текста */
}
.count {
    display: inline-block;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.count.update {
    animation: countChange 0.2s ease-in-out;
}
@keyframes countChange {
    0% {
      transform: scale(1);
      color: #4caf50;
    }
    50% {
      transform: scale(1.2);
      color: #ffeb3b; /* Цвет при изменении */
    }
    100% {
      transform: scale(1);
      color: #4caf50;
    }
}