.screen {
    display: none;
    padding: 20px;
}
.screen.active {
    display: block;
}
.screen.active {
    display: flex;
    overflow: auto;
    height: calc(100vh - var(--navheight));
    max-height: 100vh;
    width: 100%;
    padding-bottom: calc(var(--navheight-bottom) + 3vh) ;
    
    /* align-content: normal;
    justify-content: center;
    align-items: start;
    justify-items: center; */

    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.screen.active h1 {
    text-align: center;
}
.screen.active > * {
    flex-shrink: 0;
}

.settings-option {
    margin-bottom: 15px;
}

.settings-option label {
    display: block;
    margin-bottom: 5px;
}

.settings-option input[type="text"],
.settings-option input[type="password"],
.settings-option select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.settings-option button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.settings-option button:hover {
    background-color: #45a049;
}

.screen-anim {
    animation: screen-glide 0.1s ease;
}
@keyframes screen-glide {
    0% {
        opacity: 100%;
        transform: scale(100%);
    }
    100% {
        opacity: 0%;
        transform: scale(90%);
    }
}