@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@font-face {
    font-family: 'Cyber2';
    src: url('/cache/fonts/Kode-Bold.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
:root {
    --navheight: 7vh;
    --player-box-height: 50vh;
    --navheight-bottom: 8vh;
    --active-nav: #212121;
    --background-color: #222222;
    --nav-bg-color: #151515de;
    --text-color: #dae2e3;
    --active-text-color: #f24e32;
    --non-active-text-color: #913727;
    --transition-time: 0.1s ease;

    --Neon-Pink: #FF007F;
    --Electric-Blue: #00FFFF;
    --Cyber-Purple: #8A2BE2;
    --Neon-Green: #39FF14;
    --Bright-Yellow: #FFFF00;
    --Dark-Background: #0D0D0D;
    --Metallic-Gray: #282828;
    --Cyber-Red: #FF3131;


}
body {
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-color);
    overflow: hidden;
    /* background: linear-gradient(135deg, rgba(34,34,34,1) 0%,rgba(48,48,48,1) 47%,rgba(43,43,43,1) 51%,rgba(34,34,34,1) 100%); */
    /* background-image: url(/cache/images/Web_Photo_Editor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
#bg_image {
    top: 0;
    position:fixed;
    z-index: -2;
    background-image: url(/cache/images/Web_Photo_Editor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vi;
    filter: brightness(100%) hue-rotate(-20deg) blur(0px);
}
.count_table {
    width: 70%;
    height: var(--navheight);
    background-color: var(--nav-bg-color);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.player {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.player .user_pic {
    background-color: aquamarine;
    height: calc(var(--navheight) - 10px);
    width: calc(var(--navheight) - 10px);
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 10px;
}
#options_btn {
    width: 5vh;
    height: 5vh;
    margin-right: 20px;
}
#options_btn img {
    width: 5vh;
    height: 5vh;
}
#game-container {
    display: flex;
    overflow: hidden;
    /* height: calc(100vh - var(--navheight)); */
    height: 100vh;
    width: 100%;
    
    /* align-content: normal;
    justify-content: center;
    align-items: start;
    justify-items: center; */

    flex-shrink: 0;
    flex-direction: column;
    /* background-color: var(--background-color); */
    align-items: center;
    justify-content: flex-start;
}
#game-container > * {
    flex-shrink: 0;
}
#game-container .game-container-footer {
    background-color: #d9cf1a;
    opacity: 10%;
    width: 100%;
    height: calc(var(--navheight-bottom));
    position:fixed;
}
.player_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--player-box-height);
    background-color: #0d0d0d58;
    border-radius: 5%;
    overflow: hidden;
}
#player_skin {
    position: relative;
    height: var(--player-box-height);
    bottom: calc(var(--player-box-height) / -7.5);
}
.footer_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    background-color: var(--nav-bg-color);
    height: var(--navheight-bottom);
    width: 80%;
    position: fixed;
    bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}
.footer_navigation div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: static;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: var(--transition-time);
}
.footer_navigation div span {
    font-size: 1.5vh;
    color: var(--text-color);
    transition: var(--transition-time);
}
.footer_navigation div img {
    height: 2.5vh;
    width: 2.5vh;
    margin-bottom: 5px;
    transition: var(--transition-time);
}
.footer_navigation .box-gradient {
    z-index: -1;
    position:absolute;
    width: 20%;
    height: 100%;
    opacity: 0%;
    /* background: rgb(21,21,21); */
    background: linear-gradient(45deg, rgba(21,21,21,1) 30%, rgba(46,46,46,1) 91%);
}
.footer_navigation img, .footer_navigation span {
    filter: invert(50%) sepia(0%) saturate(0%) brightness(100%) hue-rotate(0deg);
    opacity: 50%;
}
.active_screen img, .active_screen span {
    filter: invert(60%) sepia(100%) saturate(1000%) brightness(80%) hue-rotate(-25deg)
    drop-shadow(0px 0px 5px #f24e32)
    drop-shadow(0px 0px 15px #f24e32);
    opacity: 100%;
}
.active_screen > .box-gradient {
    opacity: 50%;
    background-color: var(--active-nav);
    animation: nav-click 0.3s ease-out;
    border-radius: 5px;
}
@keyframes nav-click {
    0% {
        transform: scale(0%);
        border-radius: 100%;
    }
    100% {
        transform: scale(100%);
        border-radius: 5px;
    }
}